.main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: var(--gray5);
  grid-area: m;
}

.cursor{
  width: 100px;
  height: 100px;
}

.choose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 0.7em;
  width: 40em;
  height: 40em;

  padding: 10px;
  overflow-y: scroll;
}

.ul::-webkit-scrollbar {
  width: 10px;
}

.ul::-webkit-scrollbar-thumb {
  /* background: #A09B8C; */
  border-radius: 50px;
  filter: opacity(0);
}

.ul::-webkit-scrollbar-track {
  filter: opacity(0);
}

.img {
  width: 5.5em;
  height: auto;
}

.name {
  padding-top: 10px;
  font-size: 0.8em;
  text-align: center;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
}

.btn:hover {
  cursor: url(/cursor/cursorPointer.png), auto;
}

.li {
  text-decoration: none;

  padding-bottom: 20px;
}

@media screen and (max-width: 700px) {
  .ul {
    width: 34em;
    height: 34em;
  }

  .li {
    width: 4em;
    height: 6em;
  }

  .img {
    width: 4em;
    height: auto;
  }
}

@media screen and (max-width: 470px) {
  .ul {
    width: 25em;
    height: 25em;
  }

  .li {
    width: 3em;
    height: 6em;
  }

  .img {
    width: 3em;
    height: auto;
  }
}