.main {
  grid-area: m;
  width: 100%;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr;
  grid-template-areas:
    "t"
    "mc";
}

.titlecontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: t;
}

.title {
  font-size: 2rem;
  color: var(--text);
}

.maincontainer {
  width: 100%;
  height: 100%;
  grid-area: mc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.uiandinput {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.givefive {
  width: 100%;
  flex: 1 1 5%;
  background: none;
  border: none;
  color: var(--text);
  text-align: center;
  /* padding: 5px 0; */
  border: 1px solid var(--header-border-bottom);
}

.givefive:hover {
  cursor: url(/cursor/cursorPointer.png), auto;
}

.ul {
  width: 100%;
  height: 100%;
  max-height: 900px;
  flex: 1 1 85%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  overflow: hidden;
  overflow-y: scroll;
  list-style: none;
  gap: 10px;
  background: var(--background-panel);
}

.ul::-webkit-scrollbar {
  width: 0px;
}

.ul::-webkit-scrollbar-thumb {
  border-radius: 0px;
  filter: opacity(0);
}

.ul::-webkit-scrollbar-track {
  filter: opacity(0);
}

.li {
  flex: 1 1 16%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.li:hover {
  cursor: url(/cursor/cursorPointer.png), auto;
}

.img {
  width: 110px;
}

.name {
  color: var(--text);
  font-size: 50%;
  letter-spacing: 1px;
  text-align: center;
}

@media screen and (max-height: 1200px) {
  .givefive {
    flex: 0 1 40px;
  }

  .ul {
    max-height: 700px;
  }

  .img {
    width: 90px;
  }
}

@media screen and (max-height: 1000px) {
  .ul {
    max-height: 700px;
  }

  .img {
    width: 85px;
  }
}

@media screen and (max-height: 960px) {
  .givefive {
    flex: 0 1 40px;
  }

  .ul {
    max-height: 600px;
  }

  .img {
    width: 70px;
  }
}

@media screen and (max-height: 850px) {
  .ul {
    max-height: 550px;
  }

  .img {
    width: 55px;
  }
}

@media screen and (max-height: 750px) {
  .ul {
    max-height: 400px;
  }

  .img {
    width: 45px;
  }
}

@media screen and (max-height: 650px) {
  .ul {
    max-height: 300px;
  }

  .img {
    width: 40px;
  }
}