.main {
  grid-area: m;
  width: 100%;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr;
  grid-template-areas:
    "t"
    "mc";
}

.titlecontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: t;
}

.title {
  font-size: 3rem;
  color: var(--text);
}

.maincontainer {
  grid-area: mc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width: 100%;
  height: 100%;
}

.uiandinput {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}

.givefive {
  width: 50%;
  background: none;
  border: none;
  color: var(--text);
  text-align: center;
  padding: 5px 0;
  border: 1px solid var(--header-border-bottom);
}

.givefive:hover {
  cursor: url(/cursor/cursorPointer.png), auto;
}

.ul {
  width: 100%;
  height: 100%;
  min-height: 570px;
  max-height: 770px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  overflow: hidden;
  overflow-y: scroll;
  list-style: none;
  padding: 20px 0;
  background: var(--background-panel);
}

.ul::-webkit-scrollbar {
  width: 0px;
}

.ul::-webkit-scrollbar-thumb {
  border-radius: 0px;
  filter: opacity(0);
}

.ul::-webkit-scrollbar-track {
  filter: opacity(0);
}

.li {
  width: 14%;
  height: 14%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% 1%;
}

.li:hover {
  cursor: url(/cursor/cursorPointer.png), auto;
}

.img {
  width: 100%;
  flex: 1 1 10%;
}

.name {
  color: var(--text);
  font-size: 50%;
  letter-spacing: 1px;
  margin-top: 10px;
  text-align: center;
}