.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--footer);
  border-top: 1px solid var(--border-on);
  grid-area: f;
}

.copyright {
  letter-spacing: 0.8px;
  word-spacing: 1px;
  color: var(--text);
}
.modecontainer{
  position: absolute;
    right: 0;
}
.mode {
  color: var(--text);
  background: var(--footer);
  border:none;
}