.footer {
      display: flex;
        justify-content: center;
        align-items: center;
  background: var(--black2);
  border-top: 1px solid #463714;
  grid-area: f;
}

.copyright{
 letter-spacing: 0.8px;
 word-spacing: 1px;
}

.mode{
  color:var(--white1);
  background: var(--black1);
}