.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    background: black;
    padding: 2vw;
  }
  .score {
    display: flex;
    background-color : red;
    justify-content :flex-end;
    padding-top :1vw;
    padding-right :5vw;
  }
  .timer{
    display :flex;
    background-color : green;
    justify-content : center;
  }
  .text{
    color :black;
  }
  .btn{
    color :black
  }