.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    padding: 2vw;
    background: var(--main);
  }
  .score {
    margin-top : 1vw;

  }
  .timer{
    display :flex;
    justify-content : center;
    font-size : 3vw;
    margin-bottom : 1vw;
  }
  .quiz {
    display :flex;
    justify-content : center;
    font-size : 1.5vw;
    margin-bottom : 1vw;
  }
  .text{
    margin-top :1vw;
    color :black;
  }
  .btn{
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    color: var(--nav-off);
    font-size: clamp(0.5vw, 1vw, 1.5vw);
    margin-top : 0.7vw;
    margin-bottom : 0.7vw;
    padding: 0.7vw 1vw;
    border-radius: 10px;
    background: var(--main);
    box-shadow: 3px 3px 10px var(--btn-on-s),
        -3px -3px 10px var(--btn-on-l);
  }