.label{
    display : flex;
    flex-direction :row;
    font-size :1em;
    color : black;
    margin :1em;
    text-align: center;
}

.win{
    display : flex;
    margin: 2em;
    width:95%;
    background-color :aqua;
    border-color :gold;
    border-style : solid;
    border-radius : 1em;
}
.lose{
    display : flex;
    margin : 2em;
    width:95%; 
    background-color :red;
    border-color :gold;
    border-style : solid;
    border-radius : 1em;
}

.spell{
    width: 2em;
    height: 2em;
    margin-left : 0.5em;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
}

.item{
    width : 3em;
    height: 3em;
    margin : 1em;
}