.container {
  grid-area: m;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.listcontainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}

.listcheck {
  width: 100%;
  min-width: 220px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.listcontainer button {
  display: block;
  width: 100%;
  color: var(--text);
  border: 1px solid var(--header-border-bottom);
  background: none;
  padding: 5px;
}

.listcontainer button:hover {
  cursor: url(/cursor/cursorPointer.png), auto;
}

.arrow {
  color: var(--text);

}

.materialIcon {
  color: var(--text);
}

.materialIcon:hover {
  cursor: url(/cursor/cursorPointer.png), auto;
}

.wrapper {
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.topBar {
  font-size: 30px;
}

.name {
  text-align: center;
}

.artist {
  text-align: center;
}

.imgArea {
  width: 80%;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.controls i {}

.audioPlayer {
  width: 80%;
}

.audioPlayer input {
  width: 70%;
  margin: 0 10px;
}

.audioPlayer input:hover {
  cursor: url(/cursor/cursorPointer.png), auto;
}