.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
  background: var(--main);
  grid-area: m;
}

.round {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 35vw;
  justify-content: space-between;
  align-items: flex-start;
}

.vs {
  display: flex;
  width: 100vw;
  height: 32vw;
  /* padding: 4vw; */
  justify-content: space-around;
}

.swiper {
  width: 40vw;
  height: 30vw;
  margin-bottom :2%;
}

.swiperslide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  background-repeat: no-repeat;
  background-size: 40vw 30vw;
}
.input {
  color: black;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.text {
  color: black;
}

.table {
  border: 1px solid gray;
  text-align: center;
  width: 100%;
  max-height: 100%;
  padding: 0.5vw;
}
.scroll {
  border: 1px solid black;
  display: flex;
  width: 1000px;
  max-height: 500px;
  overflow-y: scroll;
  -ms-overflow-style: none;
}
.scroll::-webkit-scrollbar{
  display:none;
}

.imgResult {
  width: 5vw;
  height: auto;
  animation: showeffect 1s ease;
}
.imgSort {
  width: 1vw;
  height: auto;
  animation: showeffect 1s ease;
}

.btn {
  color: var(--text);
  background: none;
  border: none;
  padding: 0.7vw 1vw;
  border-radius: 10px;
  box-shadow: 3px 3px 10px var(--btn-on-s), -3px -3px 10px var(--btn-on-l);
}

.btns {
  display: flex;
  margin-top: 1vw;
  width: 100%;
  justify-content: space-evenly;
}

.resultPage{
  display : flex;
  flex-direction : column;
  width:100%;
  height:100%;
}



.resultBtn{
  display : flex;
  margin-bottom :1vw;
  justify-content :space-evenly;
}

.resultComponent{
  display:flex;
  width:100%;
  height:100%;
}

.resultImg{
  display :flex;
  margin-left : 5%;
  width :60%;
  height:100%;
}
.resultContent{
  display:flex;
  width : 40%;
  height:100%;
  margin-right:5%;
  padding : 1%;
}
.imgContainer{
  display:flex;
  flex-direction: column;
}

.ul {
  list-style : none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 10px;
  overflow-y: scroll;
}

.ul::-webkit-scrollbar {
  width: 10px;
}