.main {
  grid-area: m;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* width: 100vw;
  height: 35vw; */
  justify-content: flex-start;
  align-items: center;
}

.main h2 {
  color: var(--text);
  width: 100%;
  text-align: center;
  margin: 1vw 0;
}

.vs {
  display: flex;
  width: 100%;
  height: 100%;
  /* padding: 4vw; */
  justify-content: space-around;
}

.swiper {
  width: 40vw;
  height: 30vw;
  margin-bottom: 2%;
}

.swiperslide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  background-repeat: no-repeat;
  background-size: 40vw 30vw;
}

.input {
  color: black;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.text {
  color: black;
}

.table {
  color: var(--text);
  border: 1px solid gray;
  text-align: center;
  width: 100%;
  padding: 0.5vw;
}

.scroll {
  border: 1px solid var(--header-border-bottom);
  display: flex;
  width: 100%;
  max-height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.imgResult {
  width: 40%;
  padding :1%;
  height: auto;
  animation: showeffect 1s ease;
}

.sortBtn{
  width: 6%;
  height: 6%;
  color: var(--text);
  background: none;
  border-radius: 10px;
  border : none;
  outline: none;
  cursor: url(/cursor/cursorPointer.png), auto;
}

.btn {
  width: 15%;
  height: 25%;
  color: var(--text);
  background: none;
  padding: 0.7vw 1vw;
  border-radius: 10px;
  border: 1px solid var(--header-border-bottom);
  cursor: url(/cursor/cursorPointer.png), auto;
}

.btns {
  display: flex;
  margin-top: 1vw;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  cursor: url(/cursor/cursorPointer.png), auto;
}

.selectbtn {
  width: 100%;
  height: 15%;
  color: var(--text);
  background: none;
  padding: 0.5vw 1vw;
  border-radius: 10px;
  border: 1px solid var(--header-border-bottom);
  cursor: url(/cursor/cursorPointer.png), auto;
}

.resultPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.resultBtn {
  display: flex;
  margin-bottom: 1vw;
  justify-content: space-evenly;
  cursor: url(/cursor/cursorPointer.png), auto;
}

.rbtn {
  width: 15%;
  height: 100%;
  color: var(--text);
  background: none;
  padding: 0.7vw 1vw;
  border-radius: 10px;
  border: 1px solid var(--header-border-bottom);
  cursor: url(/cursor/cursorPointer.png), auto;
}

.resultComponent {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
}

.resultImg {
  display: flex;
  margin-left: 5%;
  width: 60%;
  height: 90%;
}

.resultImg img {
  width: 100%;
  height: 100%;
}

.resultContent {
  display: flex;
  width: 40%;
  height: 80%;
  margin-right: 5%;
  padding: 1%;
  color: var(--text);
}

.imgContainer {
  display: flex;
  flex-direction: column;
}


.ul {
  font-size : 20px;
  list-style: none;
  display : flex;
  flex-direction :column;
  align-content: flex-start;
  gap: 10px;
  overflow-y: scroll;
}

.ul::-webkit-scrollbar {
  width: 10px;
}

.resultTablePage{
  width : 90%;
  height: 100%;
  max-height : 900px;
}

@media screen and (max-height: 1200px) {
  .resultTablePage{
    max-height : 840px;
  }
}

@media screen and (max-height: 1100px) {
  .resultTablePage{
    max-height : 770px;
  }
}

@media screen and (max-height: 1000px) {
  .resultTablePage{
    max-height : 720px;
  }
}

@media screen and (max-height: 960px) {
  .resultTablePage{
    max-height : 640px;
  }
}

@media screen and (max-height: 850px) {
  .resultTablePage{
    max-height : 550px;
  }
}

@media screen and (max-height: 750px) {
  .resultTablePage{
    max-height : 500px;
  }
}

@media screen and (max-height: 700px) {
}