.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--header);
  border-bottom: 1px solid var(--border-on);
  grid-area: h;
}

.logo {
  display: inline-block;
  text-align: center;
  font-size: clamp(1vw, 1.5vw, 2vw);
  flex-grow: 1;
  color: var(--text-logo);
}

.logo:hover{
  cursor: url(/cursor/cursorPointer.png), auto;
}