.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #010A13;
  border-bottom: 1px solid var(--gold3);
  grid-area: h;
}

.logo {
  display: inline-block;
  text-align: center;
  font-size: 1.5rem;
  flex-grow: 1;
}

.logo:hover{
  cursor: url(/cursor/cursorPointer.png), auto;
}