.component {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.chart {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 0.7vw;
  width: 45vw;
  height: 30vw;
  max-height: 40vw;
  padding: 0.5vw;
}

/* .canvas {
  background-color: black;
  width: 80%;
  height: 70%;
} */

.ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 0.7vw;
  width: 45vw;
  height: 30vw;
  max-height: 40vw;
  padding: 0.5vw;
  overflow-y: scroll;
  margin: 0;
}

.ul::-webkit-scrollbar {
  width: 10px;
}

.li {
  display: inline-block;
  text-decoration: none;
  padding-bottom: 1px;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
}

.btn:hover {
  cursor: url(/cursor/cursorPointer.png), auto;
}

.name {
  padding-top: 10px;
  font-size: 0.8vw;
  text-align: center;
}

.img {
  width: 5vw;
  height: auto;
  animation: showeffect 1s ease;
}
