.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1e282d;
}

.container {
  display: flex;
  width: 100%;
  height: 80%;
}

.recommands {
  display: flex;
  width: 30%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.recommand {
  display: flex;
  width: 100%;
  padding: 1%;
  margin-bottom: 1%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.imgs {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.img {
  width: 100px;
  margin-right: 10px;
  border-width: 3px;
  border-style: groove;
}

.text {
  color: var(--text);
  text-align: center;
  width: 25%;
}

.resultdetailcontainer {
  display: flex;
  width: 70%;
  height: 100%;
  background-color: blue;
  margin-right: 2%;
}

@media screen and (max-width: 700px) {
  .recommands {
    display: flex;
    width: 50%;
    height: 70%;
    padding: 2%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .recommand {
    display: flex;
    width: 90%;
    height: 50%;
    padding: 1%;
    margin-bottom: 1%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .imgs {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 0em;
  }

  .img {
    border-width: 3px;
    border-style: groove;
  }

  .text {
    text-align: center;
    width: 60%;
  }
}

@media screen and (max-width: 470px) {
  .recommands {
    display: flex;
    width: 50%;
    height: 70%;
    padding: 2%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .recommand {
    display: flex;
    width: 90%;
    height: 50%;
    padding: 1%;
    margin-bottom: 1%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .imgs {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 0em;
  }

  .img {
    border-width: 3px;
    border-style: groove;
  }

  .text {
    text-align: center;
    width: 60%;
  }
}
