.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
  background: var(--main);
  grid-area: m;
  position: relative;
}

.resultcontainer {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100%;
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
  align-items: flex-start;
  justify-content: space-around;
}

.name{
  color: black;
}

.top {
  width: 13vw;
  height: 35vw;
  background-color: white;
  margin-top: 0.5vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.jug {
  width: 13vw;
  height: 35vw;
  background-color: white;
  margin-top: 3vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.mid {
  width: 13vw;
  height: 35vw;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5.5vw;
}
.bot {
  width: 13vw;
  height: 35vw;
  background-color: white;
  text-align: center;
  margin-top: 3vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.sup {
  width: 13vw;
  height: 35vw;
  background-color: white;
  margin-top: 0.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.img {
  width: 7vw;
  height: 7vw;
  background-color: black;
}

.champ {
  width: 9vw;
  height: 10vw;
  background-color: blue;
}

.search {
  width: 9vw;
  height: 10vw;
  background-color: red;
}

.button {
  width: 7vw;
  height: 3vw;
  position: absolute;
  top: 1.5vw;
  z-index: 100;
}
