.main {
  grid-area: m;
  width: 100%;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr;
  grid-template-areas:
    "t"
    "mc";
}

.titlecontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: t;
}

.title {
  font-size: 50px;
  color: var(--text);
}

.maincontainer {
  grid-area: mc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.uiandinput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}

.ul {
  width: 50%;
  min-width: 800px;
  max-width: 800px;
  height: 50%;
  min-height: 870px;
  max-height: 870px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  overflow: hidden;
  overflow-y: scroll;
  list-style: none;
  gap: 20px;
  padding: 20px 0;
  background: var(--background-panel);
}

.ul::-webkit-scrollbar {
  width: 0px;
}

.ul::-webkit-scrollbar-thumb {
  border-radius: 0px;
  filter: opacity(0);
}

.ul::-webkit-scrollbar-track {
  filter: opacity(0);
}

.li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.li:hover {
  cursor: url(/cursor/cursorPointer.png), auto;
}

.img {
  width: 100px;
  min-width: 10px;
  height: 100px;
  min-height: 10px;
}

.name {
  color: var(--text);
  font-size: 12px;
  letter-spacing: 1px;
  margin-top: 10px;
}