.main {
  grid-area: m;
  width: 100%;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr;
  grid-template-areas:
    "t"
    "mc";
}

.titlecontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: t;
}

.title {
  font-size: 2rem;
  color: var(--text);
}

.maincontainer {
  width: 100%;
  height: 100%;
  grid-area: mc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.uiandinput {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ul {
  width: 100%;
  height: 100%;
  max-height: 900px;
  flex: 1 1 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  overflow: hidden;
  overflow-y: scroll;
  list-style: none;
  gap: 10px;
  /* background: var(--background-panel); */
}

.ul::-webkit-scrollbar {
  width: 0px;
}

.ul::-webkit-scrollbar-thumb {
  border-radius: 0px;
  filter: opacity(0);
}

.ul::-webkit-scrollbar-track {
  filter: opacity(0);
}

.li {
  flex: 1 1 16%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.li:hover {
  cursor: url(/cursor/cursorPointer.png), auto;
}

.imgborder {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.border {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img {
  width: 100px;
  border: 2px solid var(--header-border-bottom);
}

.name {
  margin-top: 10px;
  color: var(--text);
  font-size: 50%;
  letter-spacing: 1px;
  text-align: center;
}

@media screen and (max-height: 1200px) {
  .ul {
    max-height: 800px;
  }

  /* .img {
    width: 90px;
  } */
}

@media screen and (max-height: 1000px) {
  .ul {
    max-height: 700px;
  }

  /* .img {
    width: 85px;
  } */
}

@media screen and (max-height: 960px) {
  .ul {
    max-height: 600px;
  }

  /* .img {
    width: 70px;
  } */
}

@media screen and (max-height: 850px) {
  .ul {
    max-height: 550px;
  }

  /* .img {
    width: 55px;
  } */
}

@media screen and (max-height: 750px) {
  .ul {
    max-height: 450px;
  }

  /* .img {
    width: 45px;
  } */
}

@media screen and (max-height: 700px) {
  .ul {
    max-height: 400px;
  }

  /* .img {
    width: 40px;
  } */
}