.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
  background: var(--gray5);
  grid-area: m;
}

.h1 {
  width: 100%;
  padding-left: 100px;
}

.container {
  /* display: flex; */
  /* justify-content: center; */
  /* width: 100%; */
  height: 75vh;
  /* padding: 0.5%; */
  /* background-color: var(--white1); */
  /* position: relative; */
  overflow-y: scroll;
}

.container::-webkit-scrollbar {
  width: 10px;
}

.container::-webkit-scrollbar-thumb {
  /* background: var(--gold2); */
  border-radius: 50px;
  filter: opacity(0);
}

.container::-webkit-scrollbar-track {
  filter: opacity(0);
}

.border {
  /* background-image: url("../../public/border/border5.png"); */
  /* background-repeat: no-repeat; */
  /* background-size: 100% 99%; */
  width: 80vw;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.head {
  table-layout: fixed;
}

.head th {
  position: sticky;
  top: 0px;
}

.att {
  /* display: flex; */
  /* flex-direction: row; */
  /* width: 80%; */
  /* padding: 0; */
  /* padding-top: 0.5vw; */
  /* padding-left: 2vw; */
  /* padding-right: 2vw; */
  /* justify-content: space-around; */
  /* position: absolute; */
  /* z-index: 1; */
  /* position: sticky; */
}

.att th {
  padding-bottom: 0.7vw;
  background-color: var(--gray5);
  /* width: 10vw; */
  /* text-align: center; */
  /* font-size: 0.8vw; */
  /* position:sticky ; */
}

.articles {
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: center; */
  /* flex-wrap: wrap; */
  /* margin-top: 2vw; */
  /* padding: 0; */
  /* padding-left: 2vw; */
  /* padding-right: 2vw; */
  /* width: 100%; */
  /* height: 80%; */
  /* gap: 100px; */
  /* overflow-y: scroll; */
  /* position: relative; */
  
}

.article {
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* height: 9%; */
  background-image: url("../../public/border/borderRank.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* gap: 10px; */

}

.article td {
  /* width: 15vw; */
  /* text-align: center; */
  font-size: 1vw;
}

.buttons {
  display: flex;
}

.button {
  color: var(--black1);
}

.imgs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.img {
  width: 2vw;
  height: 2vw;
  border: 1px solid var(--white1);
}

.progress {
  appearance: none;
  width: 80%;
}

.progress::-webkit-progress-bar {
  background-color: var(--brown1);
  border-radius: 8px;
}

.progress::-webkit-progress-value {
  background-color: var(--gold7);
  border-radius: 8px;
}

.articles::-webkit-scrollbar {
  visibility: hidden;
}