.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  width: 100vw;
  height: 57vw;
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(10px);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw;
  height: 50vw;
  background-color: aqua;
}

.title {
  font-size: 3vw;
  font-weight: bold;
}

.button {
  width: 7vw;
  height: 3vw;
  background-color: black;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 15vw;
}

.search {
  width: 70vw;
  height: 30vw;
  background-color: brown;
  margin-top: 3vw;
}