.container {
  grid-area: t;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.7vw;
}

.mapandpin {
  width: 70%;
  height: 90%;
  position: relative;
}

.tdmap {
  width: 100%;
  height: 100%;
}

.toppointcontainer {
  width: 10%;
  height: 10%;
  position: absolute;
  top: 9%;
  left: 33%;
}

.toppoint {
  width: 100%;
  height: 100%;
}

.tnumtexts {
  color: var(--text);
  position: absolute;
  top: 20%;
  left: 41%;
}

.junglepointcontainer {
  width: 10%;
  height: 10%;
  position: absolute;
  top: 28%;
  left: 37%;
}

.junglepoint {
  width: 100%;
  height: 100%;
}

.jnumtexts {
  color: var(--text);
  position: absolute;
  top: 20%;
  left: 41%;
}

.midpointcontainer {
  width: 10%;
  height: 10%;
  position: absolute;
  top: 26%;
  left: 48%;
}

.midpoint {
  width: 100%;
  height: 100%;
}

.mnumtexts {
  color: var(--text);
  position: absolute;
  top: 20%;
  left: 41%;
}

.botpointcontainer {
  width: 10%;
  height: 10%;
  position: absolute;
  top: 46%;
  left: 67%;
}

.botpoint {
  width: 100%;
  height: 100%;
}

.bnumtexts {
  color: var(--text);
  position: absolute;
  top: 20%;
  left: 41%;
}

.supportpointcontainer {
  width: 10%;
  height: 10%;
  position: absolute;
  top: 52%;
  left: 61%;
}

.supportpoint {
  width: 100%;
  height: 100%;
}

.snumtexts {
  color: var(--text);
  position: absolute;
  top: 20%;
  left: 41%;
}
