  .container {
    display: flex;
    gap: 10px;
  }

  .input {
    background: #ffffff;
    border: 3px solid #C89B3C;
    color: black;
    padding: 0.6em 1.2em;
    font-size: 1em;
    text-align: center;
    width: 40vw;
    height: 5vh;
  }

  .btn {
    background: #010A13;
    border: 3px solid #C89B3C;
  }

  @media screen and (max-width: 700px) {
    .input {
      font-size: 0.8em;
    }
  }

  @media screen and (max-width: 420px) {
    .input {
      font-size: 0.5em;
    }
  }