.container {
  width: 20%;
  height: 100%;
  max-height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.users {
  width: 100%;
  height: 13%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 2% 0;
  padding-left: 20px;
  box-sizing: border-box;
}

.lineImg {
  width: 40%;
  height: 75%;
  margin-left: 20px;
}

.lineImg:hover {
  cursor: url(/cursor/cursorPointer.png), auto;
}

.btncham {
  width: 40%;
  min-width: 50px;
  max-width: 130px;
  height: 100%;
}

.btncham:hover {
  cursor: url(/cursor/cursorPointer.png), auto;
}