.container {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 0.7em;
  padding-bottom: 2.5em;
}

.users {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.arrow {
  width: 3em;
  height: 3em;
}

.btn {
  background: none;
  border: 5px solid var(--gray3);
  padding: 1px;
  width: 5.5em;
}

.btncham{
  /* background: none; */
  border: none;
  padding: 0;
  width: 5em;
  border: 2px solid var(--gold3);
}

.btn:hover {
  cursor: url(/cursor/cursorPointer.png), auto;
}

.btncham:hover {
  cursor: url(/cursor/cursorPointer.png), auto;
}

.lineImg {
  width: 4em;
  height: auto;
}

.championpick{
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 700px) {
  .container {
    height: 65%;
    padding-top: 0.4em;
    padding-bottom: 5em;
  }

  .users {
    gap: 0.6em;
  }

  .arrow {
    width: 1.8em;
    height: 1.8em;
  }

  .btn {
    width: 4em;
  }

  .lineImg {
    width: 3em;
    height: auto;
  }
}

@media screen and (max-width: 470px) {
  .container {
    height: 55%;
    padding-top: 2em;
    padding-bottom: 5.5em;
  }

  .users {
    gap: 0.4em;
  }

  .arrow {
    width: 1em;
    height: auto;
  }

  .btn {
    width: 2.7em;
  }

  .lineImg {
    width: 1.7em;
    height: auto;
  }
}