.flexbox {
  position: relative;
  width: 20vw;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
}

.users {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* gap: 20px; */
  width: 100%;
  height: 20%;
}

.arrow {
  width: 0.7vw;
  height: 50%;
  background: var(--select-line);
}

.bg {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 75%;
  height: 90%;
  /* background-color: antiquewhite; */
}

.lineImg {
  width: 5vw;
  height: 50%;
}

.btncham {
  border: none;
  padding: 0;
  width: 6vw;
  height: 80%;
}

.lineImg:hover {
  cursor: url(/cursor/cursorPointer.png), auto;
}

.btncham:hover {
  cursor: url(/cursor/cursorPointer.png), auto;
}