.container {
  grid-area: m;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.startbtn {
  width: 30%;
  height: 10%;
  border: 1px solid var(--header-border-bottom);
  background: none;
  color: var(--ai-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.cheesebtn {
  width: 100%;
  height: 20%;
  border: 1px solid var(--header-border-bottom);
  background: var(--header-border-bottom);
  color: var(--ai-text);
  z-index: 4;
}

.webcamContainer {
  position: absolute;
  top: 0;
  left: 0;
  flex: 1 1 20%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.labelContainer {
  width: 100%;
  height: 100%;
  flex: 1 1 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  gap: 10px;
  position: relative;
}

.icon {
  width: 100px;
  height: 20%;
  margin-top: 20px;
}

.name {
  font-size: 2rem;
  color: var(--ai-text);
  height: 10%;
}

.ul {
  width: 100%;
  height: 40%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  list-style: none;
  gap: 20px;
  margin: 20px 0;
}

.liname {
  /* width: 100%;
  height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.champ {
  width: 100px;
}

.champname {
  color: var(--ai-text);
  font-size: 1rem;
}

.story {
  display: inline-block;
  width: 100%;
  height: 20%;
  color: var(--ai-text);
  text-align: center;
  font-size: 2vh;
}