.container {
  grid-area: m;
  width: 100%;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr;
  grid-template-areas:
    "t"
    "mc";
  color : var(--text);
}

.buttonContainer {
  grid-area: t;
  width: 99%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.titleimg {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.titleimg img {
  padding-top: 20px;
  width: 80%;
  height: 90%;
}

.champname {
  color: var(--text);
  /* padding: 0 20px; */
  width: 100%;
  font-size: 1rem;
}

.btns {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.buttonContainer button {
  color: var(--text);
  background: none;
  border: 1px solid var(--header-border-bottom);
  padding: 10px 10px;
}

.buttonContainer button:hover {
  cursor: url(/cursor/cursorPointer.png), auto;
}

.contentContainer {
  width: 99%;
  height: 100%;
  grid-area: mc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select{
  font-size : 100px;
}