.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40vw;
  height: 10vh;
}

.h1 span{
  font-size: 3vw;
    color: var(--text);
}

.logo{
  border-right: 2px solid var(--border-on);
  color: var(--text-logo);
  animation: blink 0.75s infinite;
}

@keyframes blink {
  from {
    border: none;
  }

  to {
    border-color: 2px solid var(--border-on);
  }
}