.label{
    display : flex;
    flex-direction :row;
    font-size :1em;
    color : var(--black1);
    margin :1em;
    text-align: center;
}

.win{
    display : flex;
    margin: 2em;
    width:95%;
    background-color :var(--blue8);
    border-color :var(--gold8);
    border-style : solid;
    border-radius : 1em;
}
.lose{
    display : flex;
    margin : 2em;
    width:95%; 
    background-color :var(--red1);
    border-color :var(--gold8);
    border-style : solid;
    border-radius : 1em;
}

.spell{
    width: 2em;
    height: 2em;
    margin-left : 0.5em;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
}

.item{
    width : 3em;
    height: 3em;
    margin : 1em;
}

.btn {
    background: var(--green1);
    border: 3px solid var(--gold3);
    float: right;
    margin-right : 5%;
    margin-bottom : 2%;
}