html,
body {
  font-family: -apple-system, Spiegel, sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  cursor: url(/cursor/cursor.png), auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body[data-theme="dark"] {
  --background: #121212;
  --logo: #C89B3C;
  --header-border-bottom: #C89B3C;
  --text: #EEEEEE;
  --background-panel: #2F2F2F;
  --answer: #0397AB;
  --wrong: #8A202E;
  --gray: #F0E6D2;
  background: #121212;
}

body[data-theme="light"] {
  --background: #ffffff;
  --logo: #C89B3C;
  --header-border-bottom: #C89B3C;
  --text: #010A13;
  --background-panel: #eeeeee;
  --answer: #0397AB;
  --wrong: #8A202E;
  --gray: #F0E6D2;
  background: #ffffff;
}

@font-face {
  font-family: "Spiegel";
  font-weight: 200;
  src: url("/fonts/Spiegel_TT_Regular.ttf") format("truetype");
}