html,
body {
  background: #010A13;
  padding: 0;
  margin: 0;
  font-family: -apple-system, Spiegel, sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
  cursor: url(/cursor/cursor.png), auto;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: #F0E6D2;
}

body[data-theme="dark"] {
  --text-logo: #A09B8C;
  --nav-on: #A09B8C;
  --nav-off: #5B5A56;
  --text: #EEEEEE;
  --header: #3C3C41;
  --footer: #3C3C41;
  --main: #3C3C41;
  --btn: #3C3C41;
  --btn-on-l: #3C3C41;
  --btn-on-s: #3C3C41;
  --btn-off-l: #3C3C41;
  --btn-off-s: #3C3C41;
  --input-bg: #3C3C41;
  --border-on: #C89B3C;
  --border-off: #32281E;
  --allow: #0397AB;
  --prevent: #8A202E;
}

body[data-theme="light"] {
  --text-logo: #010A13;
  --nav-on: #EEEEEE;
  --nav-off: #010A13;
  --text: #010A13;
  --header: #A9DAFA;
  --footer: #A9DAFA;
  --main: #A9DAFA;
  --btn: #A9DAFA;
  --btn-on-l: #cbffff;
  --btn-on-s: #87aec8;
  --btn-off-l: #edffff;
  --btn-off-s: #658396;
  --input-bg: #A9DAFA;
  --border-on: #32281E;
  --border-off: #C89B3C;
  --allow: #0397AB;
  --prevent: #8A202E;
}

@font-face {
  font-family: "Spiegel";
  font-weight: 200;
  src: url("/fonts/Spiegel_TT_Regular.ttf") format("truetype");
}